gsoap/webservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="http://localhost"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsd1="http://localhost"
		name="bossn"
		targetNamespace="http://localhost">
	<types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
				xmlns:xs1="http://localhost"
				targetNamespace="http://localhost"
				elementFormDefault="qualified">
			<xs:element name="exchange">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="param"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="exchangeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="accept">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="flag"
								type="xs:boolean"/>
						<xs:element name="platformId"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="acceptResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="exchangeRequestMessage">
		<part name="parameters"
				element="tns:exchange"/>
	</message>
	<message name="exchangeResponseMessage">
		<part name="parameters"
				element="tns:exchangeResponse"/>
	</message>
	<message name="acceptRequestMessage">
		<part name="parameters"
				element="tns:accept"/>
	</message>
	<message name="acceptResponseMessage">
		<part name="parameters"
				element="tns:acceptResponse"/>
	</message>
	<portType name="bossnPortType">
		<operation name="exchange">
			<input message="tns:exchangeRequestMessage"/>
			<output message="tns:exchangeResponseMessage"/>
		</operation>
		<operation name="accept">
			<input message="tns:acceptRequestMessage"/>
			<output message="tns:acceptResponseMessage"/>
		</operation>
	</portType>
	<binding name="bossnSoapBinding"
			type="tns:bossnPortType">
		<soapbind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="exchange">
			<soapbind:operation style="document"
					soapAction="http://localhost#bossn:exchange"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="accept">
			<soapbind:operation style="document"
					soapAction="http://localhost#bossn:accept"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="bossnSoap12Binding"
			type="tns:bossnPortType">
		<soap12bind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="exchange">
			<soap12bind:operation style="document"
					soapAction="http://localhost#bossn:exchange"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="accept">
			<soap12bind:operation style="document"
					soapAction="http://localhost#bossn:accept"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="bossn">
		<port name="bossnSoap"
				binding="tns:bossnSoapBinding">
			<documentation> 
				<wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/"
						conformsTo="http://ws-i.org/profiles/basic/1.1"/>
			</documentation>
			<soapbind:address location="http://localhost/bossn/ws/bossn.1cws"/>
		</port>
		<port name="bossnSoap12"
				binding="tns:bossnSoap12Binding">
			<soap12bind:address location="http://localhost/bossn/ws/bossn.1cws"/>
		</port>
	</service>
</definitions>